.contact-form-heading {
    font-size: 1.75rem;
    letter-spacing: 1px;

}

.form-inputs {
    border: none;
    background: #fcfcfc;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
    padding: 1.5rem;
    color: black !important;

}

.form-inputs-area {
    border: none;
    background: #fcfcfc;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
    padding: 1.5rem !important;
    color: black !important;
    border-bottom: 1px solid #8a2c2c!important;

}

.contact-img {
    width: 70%;
    height: 70%;

}

.msg-button{
    background-image: linear-gradient(to bottom right, #8a2c2c, #7e2626);
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}