.carousel-img {
  width: 1200px;
  height: 400px; /* Let the height adjust based on the aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
  display: block; /* Remove any extra spacing caused by inline elements */
  margin: 0 auto; /* Center the image horizontally */
}
.carousel-control-prev-icon::before {
  color: rgb(43, 37, 37); 
  font-size: 30px;
  font-weight: 700;
}
.carousel-control-next-icon::before {
  color: rgb(43, 37, 37);
  font-size: 30px;
  font-weight: 700;
}
.carousel-indicators li {
  background-color: rgb(43, 37, 37); 
}
.carousel-indicators .active {
   background-color: rgb(36, 52, 145);
}
.carousel-caption p {
  color: rgb(43, 37, 37);
  font-weight: 600;
}